<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmitracker">

    <application
        android:allowBackup="true"
        android:label="BMI Tracker"
        android:theme="@style/Theme.BMITracker">
        <activity
            android:name=".PhoneAuthActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
    </application>

</manifest>